<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易商惠众</title>

    <link rel="stylesheet" href="https://www.bootcss.com/p/buttons/css/buttons.css">

    <style type="text/css">
        body,html{
            padding: 0;
            margin: 0;
        }
        .container{
            padding-bottom: 100px;
            background: #f1f1f1;
        }
        .des{
            padding: 15px;
            font-size: 16px;
        }
        .footer{
            background: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .footer a{
            margin: 15px;
        }
    </style>

</head>
<body>
<div class="container">
    <img th:src="${img}" width="100%" >
    <div class="des" th:text="${title}"></div>
</div>
<div class="footer">
    <a href="javascript:void(0);" onclick="join()" class="button button-block button-rounded button-primary button-large">立即参与</a>
</div>

<script th:inline="javascript">

    function join() {
        // 复制到粘贴板
        // emgot.com#202102091239525246ca76951#惠众宝#【酸辣无骨鸡爪】
        var activityNbr = [[${activityNbr}]]
        var title = [[${title}]]
        var strShareLink = "emgot.com#" + activityNbr + "#惠众宝#【" + title + "】";
        copyContentH5(strShareLink);

        // 跳转
        var join_url = [[${join_url}]]
        window.location.href = join_url;
    }

    //h5复制文本到剪切板
    function copyContentH5(content) {
        var copyDom = document.createElement('div');
        copyDom.innerText=content;
        copyDom.style.position='absolute';
        copyDom.style.top='0px';
        copyDom.style.right='-9999px';
        document.body.appendChild(copyDom);
        //创建选中范围
        var range = document.createRange();
        range.selectNode(copyDom);
        //移除剪切板中内容
        window.getSelection().removeAllRanges();
        //添加新的内容到剪切板
        window.getSelection().addRange(range);
        //复制
        var successful = document.execCommand('copy');
        copyDom.parentNode.removeChild(copyDom);
        try{
            var msg = successful ? "successful" : "failed";
            console.log('Copy command was : ' + msg);
        } catch(err){
            console.log('Oops , unable to copy!');
        }
    }

</script>


</body>
</html>
