<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>出错了</title>

    <link rel="stylesheet" href="/wx/static/css/style.css">
</head>

<body class="bg-white">

    <div id="appCapsule">

        <div class="error-page">
            <div class="icon-box text-danger mt-5">
                <ion-icon name="alert-circle"></ion-icon>
            </div>
            <h1 class="title" style="display: none;">出错了</h1>
            <div class="text mb-5">
                请稍后重试~
            </div>

        </div>

    </div>


<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>


</body>

</html>